<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-64084752-3']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
<div id="content" ng-init="page='about';">
    <div class="cover-container">
        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand" onmousedown="dragMove();" onmouseup="cursorNormal();">League Active Notes</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li><a href="#!Home">Home</a></li>
                        <li><a href="#!AddTips">Add Tips</a></li>
                        <li><a href="#!DeathTips">Death Tips</a></li>
                        <li><a href="#!Overview">Overview</a></li>
                        <li class="active"><a href="#!About">About</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="inner cover">
            <div id="NoteSection" style="height:auto;" ng-controller="LanController">
                <h1 class="cover-heading">About:</h1>
                <p class="lead" style="color:rgba(255,255,255,0.85); font-weight: 500;">League Active Notes (LAN), is the League of Legends Overwolf App that actively helps you take notes while playing the game.</p>
                <h1 class="cover-heading">Aim:</h1>
                <p class="lead" style="color:rgba(255,255,255,0.85); font-weight: 500;">The aim of this app is to encourage players to note down their mistakes so that they don't keep making them.</p>
                <h1 class="cover-heading">Who is this app for?</h1>
                <p class="lead" style="color:rgba(255,255,255,0.85); font-weight: 500;">This app is for League players who are ready to:</p>
                <div id="scrollable">
                    <p style="color:rgba(255,255,255,0.85); font-weight: 500; font-size: 14px;">Accept the fact that they actually make mistakes</p>
                    <p style="color:rgba(255,255,255,0.85); font-weight: 500; font-size: 14px;">Blame themselves for the mistakes that they make</p>
                    <p style="color:rgba(255,255,255,0.85); font-weight: 500; font-size: 14px;">Improve their performance in League of Legends</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mastfoot">
        <div class="inner">
            <span style="font-size: 20px;"><b>Credits:</b></span>
            <br><lb>Created by:</lb> [<span style="font-weight: 500; font-family: 'FrizQuadrata', 'Helvetica';">Phoenix Ultimate</span>] Godstime Osarobo
            <br><lb>Platform used:</lb> Overwolf
        </div>
    </div>
</div>
